Backups/
/ReactOS-Source-Shell
\BuildOutput\ReactOS-Source-Shell\

\BuildOutput/ReactOS-Source-Shell
\BuildOutput/Clipboard.txt
Elite-EasySigner/
EverythingSDK-Source/
ExplorerPatcher-Source/
Open-Shell-Menu-Source/
ReactOS-Source-Shell/
