Backups/
/ReactOS-Source-Shell
\BuildOutput\ReactOS-Source-Shell\

\BuildOutput/ReactOS-Source-Shell
\BuildOutput/Clipboard.txt
Elite-EasySigner/
EverythingSDK-Source/
ExplorerPatcher-Source/
Open-Shell-Menu-Source/
ReactOS-Source-Shell/

Documentation/WindowsOfficialDocs/*.pdf

Gemini.md

# Build Artifacts
x64/
x86/
.vs/
*.obj
*.tlog
*.res
*.pdb
*.iobj
*.ipdb
*.pch
*.ipch
*.lib
*.exp
BuildOutput/desktop.ini
BuildOutputx86/desktop.ini
