#include <windows.h>
#include "resource.h"

IDI_MAIN_PROGRAM ICON "..\\Resources\\MAIN_PROGRAM.ico"
IDI_PREFERENCES ICON "..\\Resources\\PREFERENCES.ico"
IDB_START_ORB RCDATA "..\\Resources\\StartOrb\\orb.png"

IDD_TASKBAR_PROPS DIALOGEX 0, 0, 252, 218
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Taskbar"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    GROUPBOX        "Taskbar appearance", IDC_STATIC, 7, 7, 238, 100
    CONTROL         "Lock the &taskbar", IDC_LOCK_TASKBAR, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 20, 220, 10
    CONTROL         "A&uto-hide the taskbar", IDC_AUTOHIDE_TASKBAR, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 34, 220, 10
    CONTROL         "Use s&mall icons", IDC_SMALL_ICONS, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 14, 48, 220, 10
END
